<center>

# SQL DATABASE

</center>

## Import libraries

In [35]:
import pandas as pd
import sqlite3

## Create database

In [36]:
# Crear tabla y conecciÃ³n
conn = sqlite3.connect("../data/raw/crime.db")

In [37]:
# Cargar datos
total_data = pd.read_csv("../data/raw/crime_data.csv")

In [38]:
# Cargar dataframe en la base de datos SQL
total_data.to_sql(name="Crime", con=conn, index=False, if_exists="replace")

764061

In [39]:
# Convertir consulta de SQL en Dataframe
query = """SELECT date_occ, 
                time_occ, 
                area_name, 
                rpt_dist_no, 
                crm_cd_desc, 
                mocodes, 
                vict_age, 
                vict_sex, 
                vict_descent, 
                premis_desc,
                weapon_desc, 
                status_desc, 
                location, 
                lat, 
                lon 
            from Crime
            WHERE strftime('%Y', date_occ) >= '2020'"""

result = pd.read_sql_query(query, conn)

In [40]:
result.head(2)

,date_occ,time_occ,area_name,rpt_dist_no,crm_cd_desc,mocodes,vict_age,vict_sex,vict_descent,premis_desc,weapon_desc,status_desc,location,lat,lon
0,2020-01-08T00:00:00.000,2230,Southwest,377,BATTERY - SIMPLE ASSAULT,0444 0913,36,F,B,SINGLE FAMILY DWELLING,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Adult Other,1100 W 39TH PL,34.0141,-118.2978
1,2020-01-01T00:00:00.000,330,Central,163,BATTERY - SIMPLE ASSAULT,0416 1822 1414,25,M,H,SIDEWALK,UNKNOWN WEAPON/OTHER WEAPON,Invest Cont,700 S HILL ST,34.0459,-118.2545

In [41]:
# Guardar consulta en CSV
result.to_csv("../data/raw/crime_query.csv", index= False)

In [ ]:
# Subir commit
conn.commit()
# Cerrar base de datos
conn.close()