<center>

# SQL DATABASE

</center>

## Import libraries

In [1]:
import pandas as pd
import sqlite3

## Create database

In [2]:
# Create table and connection
conn = sqlite3.connect("../data/raw/crime.db")

In [3]:
# Load data
total_data = pd.read_csv("../data/raw/crime_data.csv")

In [4]:
total_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 764061 entries, 0 to 764060
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   dr_no           764061 non-null  int64
 1   date_rptd       764061 non-null  object
 2   date_occ        764061 non-null  object
 3   time_occ        764061 non-null  int64
 4   area            764061 non-null  int64
 5   area_name       764061 non-null  object
 6   rpt_dist_no     764061 non-null  int64
 7   part_1_2        764061 non-null  int64
 8   crm_cd          764061 non-null  int64
 9   crm_cd_desc     764061 non-null  object
 10  mocodes         662300 non-null  object
 11  vict_age        764061 non-null  int64
 12  vict_sex        669514 non-null  object
 13  vict_descent    669503 non-null  object
 14  premis_cd       764041 non-null  float64
 15  premis_desc     763579 non-null  object
 16  weapon_used_cd  263469 non-null  float64
 17  weapon_desc     263469 non-null  object
 18  status          764060 non-null  object
 19  status_desc     764061 non-null  object
 20  crm_cd_1        764051 non-null  float64
 21  crm_cd_2        51976 non-null   float64
 22  crm_cd_3        1502 non-null    float64
 23  crm_cd_4        46 non-null      float64
 24  location        764061 non-null  object
 25  cross_street    117992 non-null  object
 26  lat             764061 non-null  float64
 27  lon             764061 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 163.2+ MB

-There are a total of 764.061 rows (in this case, crime data) and 28 columns.

-Some of the variables have null values.

-The data has: 14 numerical characteristics, 11 categorical characteristics and 3 datetime characteristics (which need to be converted to datetime format).

In [5]:
# Load dataframe into the SQL database
total_data.to_sql(name="Crime", con=conn, index=False, if_exists="replace")

764061

In [6]:
# Convert SQL query to DataFrame, taking only important predictors and the last 4 years
query = """SELECT date_occ, 
                time_occ, 
                area_name, 
                rpt_dist_no, 
                crm_cd_desc, 
                mocodes, 
                vict_age, 
                vict_sex, 
                vict_descent, 
                premis_desc,
                weapon_desc, 
                status_desc, 
                location, 
                lat, 
                lon 
            from Crime
            WHERE strftime('%Y', date_occ) >= '2020'"""

result = pd.read_sql_query(query, conn)

In [7]:
result.head(2)

,date_occ,time_occ,area_name,rpt_dist_no,crm_cd_desc,mocodes,vict_age,vict_sex,vict_descent,premis_desc,weapon_desc,status_desc,location,lat,lon
0,2020-01-08T00:00:00.000,2230,Southwest,377,BATTERY - SIMPLE ASSAULT,0444 0913,36,F,B,SINGLE FAMILY DWELLING,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Adult Other,1100 W 39TH PL,34.0141,-118.2978
1,2020-01-01T00:00:00.000,330,Central,163,BATTERY - SIMPLE ASSAULT,0416 1822 1414,25,M,H,SIDEWALK,UNKNOWN WEAPON/OTHER WEAPON,Invest Cont,700 S HILL ST,34.0459,-118.2545

In [8]:
# Save query to CSV
result.to_csv("../data/raw/crime_query.csv", index= False)

In [ ]:
# Upload commit
conn.commit()

# Close the database
conn.close()