<center>

# SQL DATABASE

</center>

## Import libaries

In [13]:
import pandas as pd
import sqlite3

## Create database

In [14]:
# Crear tabla y conección
conn = sqlite3.connect("../data/raw/crime.db")

# Crear cursor
cursor = conn.cursor()

In [15]:
# Cargar datos
total_data = pd.read_csv("../data/raw/crime_data.csv")

In [16]:
# Cargar dataframe en la base de datos SQL
total_data.to_sql(name="Crime", con=conn, index=False, if_exists="replace")

764061

In [19]:
# Convertir consulta de SQL en Dataframe
query = pd.read_sql_query("SELECT * from Crime", conn)

In [20]:
query.head(2)

,dr_no,date_rptd,date_occ,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,...,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon
0,10304468,2020-01-08T00:00:00.000,2020-01-08T00:00:00.000,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,None,34.0141,-118.2978
1,190101086,2020-01-02T00:00:00.000,2020-01-01T00:00:00.000,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,None,34.0459,-118.2545

In [21]:
# Guardar consulta en CSV
query.to_csv("../data/raw/crime_query.csv", index= False)

In [22]:
# Subir commit
conn.commit()
# Cerrar base de datos
conn.close()